<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <h1>Full Menu</h1>
        <h2>Main Courses</h2>
        <ul>
            <% menu.forEach((item)=> { %>
                <% if (item.category==='mains' ) {%>
                    <div>
                        <h2>
                            <%= item.name %>
                                <% if (item.rating===5) {%>
                                    ⭐
                                    <% } %>:
                        </h2>
                        <h3>
                            $<%= item.price %>, Rating: <%= item.rating %>/5
                                    <h3>
                                        <p>
                                            <%= item.details %>
                                        </p>
                    </div>
                    <% } %>
                        <% }) %>
        </ul>
        <h2>Sides</h2>
        <ul>
            <% menu.forEach((item)=> { %>
                <% if (item.category==='sides' ) {%>
                    <div>
                        <h2>
                            <%= item.name %>
                                <% if (item.rating===5) {%>
                                    ⭐
                                    <% } %>:
                        </h2>
                        <h3>
                            $<%= item.price %>, Rating: <%= item.rating %>/5
                                    <h3>
                                        <p>
                                            <%= item.details %>
                                        </p>
                    </div>
                    <% } %>
                        <% }) %>
        </ul>
        <h2>Desserts</h2>
        <ul>
            <% menu.forEach((item)=> { %>
                <% if (item.category==='desserts' ) {%>
                    <div>
                        <h2>
                            <%= item.name %>
                                <% if (item.rating===5) {%>
                                    ⭐
                                    <% } %>:
                        </h2>
                        <h3>
                            $<%= item.price %>, Rating: <%= item.rating %>/5
                                    <h3>
                                        <p>
                                            <%= item.details %>
                                        </p>
                    </div>
                    <% } %>
                        <% }) %>
        </ul>

</body>

</html>